/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Workbench:BLED,SCAN@0..100,-53..100&display=swap');
@import './src/flicker.css';

/* Base styles */
html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #EFE;
}

html, body, main {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

main {
  background: #666;
  overflow: scroll;
  position: absolute;
}

main > header {
  position: absolute;
  top: 0;
  transition: background 0.5s, height 0.5s;
  width: 100%;
}

main .placeholder {
  height: 100vh;
  transition: height 0.5s;
}

.scrolled main .placeholder {
  height: 50vh;
}

main section {
  background: rgba(0,0,0,0.5);
  border: 1px black solid;
  border-radius: 1rem;
  color: #EFE;
  font-family: sans-serif;
  margin: 1rem;
  min-height: 50vh;
  padding: 1rem;
}

.unscrolled main > header {
  background: rgba(0,0,0,0.6);
  height: 100%;
}

.scrolled main > header {
  background: rgba(0,0,0,0.9);
  height: 4.5rem;
  padding-left: 1rem;
  position: fixed;
  z-index: 1000;
}

main header h1 {
  color: #0F0;
  font-family: 'Workbench', sans-serif;
  font-size: calc(min(6rem, 10vw));
  font-style: normal;
  text-shadow: 0rem 0rem 1rem black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: left 0.25s, font-size 0.25s, transform 0.25s, color 0.25s;
}

.scrolled main header h1 {
  font-size: 2rem;
  left: 1rem;
  transform: translate(0%, -100%);
  transition: left 0.5s, font-size 0.5s, transform 0.5s, color 0.5s;
}

section header h2 {
  font-family: 'Major Mono Display', sans-serif;
  padding: 1rem 2rem;
}

section {
  position: relative;
}

section header {
  position: absolute;
}

section:nth-of-type(4n+1) header {
  left: 0;
  top: 0;
}
section:nth-of-type(4n+2) header {
  right: 0;
  top: 0;
}
section:nth-of-type(4n+3) header {
  right: 0;
  bottom: 0;
}
section:nth-of-type(4n+4) header {
  left: 0;
  bottom: 0;
}

footer {
  background: #000;
  color: #FFF;
  height: 9rem;
  padding: 0.5rem;
  text-align: center;
}

footer h1 {
  color: #B0D;
  font-family: 'Workbench', sans-serif;
  font-variation-settings: "BLED" 0, "SCAN" -20;
  text-shadow: 0rem 0rem 1.25rem #80A;
}