/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Workbench:BLED,SCAN@0..100,-53..100&display=swap');

/* Chatbot UI styles */
html, body {
  margin: 0;
  padding: 0;
}

html, body, main, body::before {
  height: 100%;
  position: absolute;
  width: 100%;
}

main {
  background: none;
  overflow: scroll;
}

main > header {
  position: absolute;
  top: 0;
  transition: background 0.5s, height 0.5s;
  width: 100%;
}

main .placeholder {
  height: 100vh;
  transition: height 0.5s;
}

.scrolled main .placeholder {
  height: 50vh;
}

main section {
  background: rgba(0,0,0,0.5);
  border: 1px black solid;
  border-radius: 1rem;
  color: #EFE;
  font-family: sans-serif;
  margin: 1rem;
  min-height: 50vh;
  padding: 1rem;
}

.unscrolled main > header {
  background: rgba(0,0,0,0.6);
  height: 100%;
}

.scrolled main > header {
  background: rgba(0,0,0,0.9);
  height: 4.5rem;
  padding-left: 1rem;
  position: fixed;
  z-index: 1000;
}

main header h1 {
  color: #0F0;
  font-family: 'Workbench', sans-serif;
  font-size: calc(min(6rem, 10vw));
  font-style: normal;
  text-shadow: 0rem 0rem 1rem black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: left 0.25s, font-size 0.25s, transform 0.25s, color 0.25s;
}

.scrolled main header h1 {
  font-size: 2rem;
  left: 1rem;
  transform: translate(0%, -100%);
  transition: left 0.5s, font-size 0.5s, transform 0.5s, color 0.5s;
}

section header h2 {
  font-family: 'Major Mono Display', sans-serif;
  padding: 1rem 2rem;
}

section {
  position: relative;
}

section header {
  position: absolute;
}

section:nth-of-type(4n+1) header {
  left: 0;
  top: 0;
}
section:nth-of-type(4n+2) header {
  right: 0;
  top: 0;
}
section:nth-of-type(4n+3) header {
  right: 0;
  bottom: 0;
}
section:nth-of-type(4n+4) header {
  left: 0;
  bottom: 0;
}

footer {
  background: #000;
  color: #FFF;
  height: 9rem;
  padding: 0.5rem;
  text-align: center;
}

footer h1 {
  color: #B0D;
  font-family: 'Workbench', sans-serif;
  font-variation-settings: "BLED" 0, "SCAN" -20;
  text-shadow: 0rem 0rem 1.25rem #80A;
}

.counter-0 header h1 {
  font-weight: 100;
  text-shadow: 0rem 0rem 1rem #0F0;
  font-variation-settings: "BLED" 0, "SCAN" -50;
}
.counter-1 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 1.25rem #0F0;
  font-variation-settings: "BLED" 10, "SCAN" -25;
}
.counter-2 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 1.5rem #0F0;
  font-variation-settings: "BLED" 20, "SCAN" 0;
}
.counter-3 header h1 {
  font-weight: 100;
  text-shadow: 0rem 0rem 2rem #0F0;
  font-variation-settings: "BLED" 40, "SCAN" 25;
}
.counter-4 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 1.75rem #0F0;
  font-variation-settings: "BLED" 60, "SCAN" 30;
}
.counter-5 header h1 {
  font-weight: 100;
  text-shadow: 0rem 0rem 2rem #0F0;
  font-variation-settings: "BLED" 80, "SCAN" 50;
}
.counter-6 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 1.25rem #0F0;
  font-variation-settings: "BLED" 100, "SCAN" 25;
}
.counter-8 header h1 {
  font-weight: 100;
  text-shadow: 0rem 0rem 1rem #0F0;
  font-variation-settings: "BLED" 70, "SCAN" 0;
}
.counter-9 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 0.75rem #0F0;
  font-variation-settings: "BLED" 50, "SCAN" -25;
}
.counter-10 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 0.5rem #0F0;
  font-variation-settings: "BLED" 30, "SCAN" -40;
}
.counter-11 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 0.25rem #0F0;
  font-variation-settings: "BLED" 10, "SCAN" -50;
}
.counter-12 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 0.125rem #0F0;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}
.counter-13 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 0.25rem #0F0;
  font-variation-settings: "BLED" 30, "SCAN" 25;
}
.counter-14 header h1 {
  font-weight: 4000;
  text-shadow: 0rem 0rem 0.5rem #0F0
  font-variation-settings: "BLED" 50, "SCAN" 50;
}
.counter-15 header h1 {
  font-weight: 100;
  text-shadow: 0rem 0rem 0.75rem #0F0;
  font-variation-settings: "BLED" 20, "SCAN" 10;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/90fc61ca-e7b7-4458-ac70-68c4d17128ce.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  animation: carousel 1440s linear infinite;
  z-index: -1;
}

@keyframes carousel {
  0% {
    background-image: url('images/90fc61ca-e7b7-4458-ac70-68c4d17128ce.png');
  }
  10% {
    background-image: url('images/02040601-8c5f-438c-8b35-6caf487a7661.png');
  }
  20% {
    background-image: url('images/ee831484-8d19-4d29-bff5-8ff6f636c04e.png');
  }
  30% {
    background-image: url('images/dd840c0e-b74f-4d25-b753-8b6538f0277a.png');
  }
  40% {
    background-image: url('images/e2aad2be-f183-4bd5-af41-c043e3a4f572.png');
  }
  50% {
    background-image: url('images/354fde13-2095-40e6-a9f4-84f55920937f.png');
  }
  60% {
    background-image: url('images/5036d11a-c112-4a66-b4a6-645b55c7788f.png');
  }
  70% {
    background-image: url('images/3ed63926-dcbb-4f94-ad91-9d1342520649.png');
  }
  80% {
    background-image: url('images/2eb18b1e-e000-4b8f-9e33-f581a6b6f046.png');
  }
  90% {
    background-image: url('images/f2edd7b6-24e7-4633-b5f2-fc67ee2655c7.png');
  }
  100% {
    background-image: url('images/90fc61ca-e7b7-4458-ac70-68c4d17128ce.png');
  }
}
